* {
  margin: 0;
  padding: 0;
}

/*
div {
    border: 1px solid black;
}
*/

body {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(150, 150, 150);
  text-align: center;
  color: white;
}

#homeButton {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: rgb(150, 150, 150);
  padding-top: 20px;
}

#homeButton:hover {
  background-color: rgb(10, 10, 10);
}

header p {
  padding-top: 15px;
  font-size: 1.3em;
  font-weight: lighter;
}

aside {
  position: fixed;
  height: 100%;
  width: 15%;
  top: 60px;
  background-color: rgb(50, 50, 50);
  color: white;
}

.sideInfo {
  height: 100px;
  text-align: center;
  /*make text in div vertical-align to center*/
  line-height: 100px;
  margin: auto;
}

.sideButton {
  float: left;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: auto;
  border-top: 1px solid black;
}

.sideButton:hover {
  background-color: rgb(120, 120, 120);
}

#infoWrapper {
  position: absolute;
  margin-left: 15%;
  width: 85%;
  margin-top: 60px;
  text-align: center;

  /*the section cannot render in front of headbar*/
  z-index: -100;
}

#infoWrapper p {
  margin: 0;
  padding: 0;
}

#infoListSection {
  padding-left: 10%;
  padding-top: 10%;
}



/*-------------*/

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.1);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
}

.innerCol {
  border: 0px;
  background-color: transparent;
  padding: 5px;
}

.col-md-1{
  background-color: #fff;
  border: 0px
}