	.container .heading {
		border-color: #eee;
		border-width: 1px;
		border-style: solid;
		padding: 5px;
	}
	.info {
		border-color: #eee;
		border-width: 1px;
		border-style: solid;
		margin: 10px 0;
	}
	.info .info-heading {
		background-color: #eee;
		padding: 5px;
		margin: 10px;
	}
	.info-text {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.clearfix {zoom:1;}
	.clearfix:before, .clearfix:after {
		content: "";
		display: table;
	}
	.clearfix:after {
		clear: both;
	}
	.btn-show {
		text-align: center;
	}
	th {
		background-color: rgb(0, 132, 255);
	}
	th, td{
		text-align: center;
	}
	#info-print{
    	right: 20px;
    	bottom: 8px;
    	font-size: 15px;
    	color: white;
    	display: flex;
    	align-items: center;
    	padding: 4px 8px 4px 8px;
    	position: fixed;
    	background-color: rgb(0, 100, 200);
    	cursor: pointer;
    	transition: background-color 0.4s;
	}

	#info-print:hover{
    	background-color: rgb(0, 132, 255);
	}

	#info-print:active{
    	background-color: rgb(0, 255, 255);
	}